@model Product

@{ 
    ViewBag.Title = "Product Name";
}

<html>
<head><title>Product</title></head>
<body>
    Property ID : @Model.PropertyID <br />
    Name : @Model.Name <br />
    Category : @Model.Category <br />
    Description : @Model.Description <br/>
    Price : @Model.Price <br />
</body>
</html>
    